.pricing__wrapper h2{color: #21243d; font-weight: 600;}
.pricing__wrapper {
    padding: 140px 30px;
}
.pricing {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}
.index1{display: none;}
.modal-pricing{overflow-y: scroll}
.pricing-popup{align-items: unset; height: 100%}
.pricing-popup .pricing{position: absolute; z-index: 500; margin-top: 50px;}
.closepricing-popup{margin-top: 10px;}
.rightone{ margin-top: 2em;}
.pricing-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-weight: 300;
}
.pricing-action {
  color: inherit;
  border: 1px solid;
  background: none;
}
.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
  font-size: 14px;
  color: #000;
  list-style: square;
  padding-left: 15px;
}
.pricing-palden .pricing-item {
  cursor: default;
  color: #000;
  background: #f8f8f8; margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.pricing-palden .pricing-deco {
  border-radius: 4px 4px 0 0;
  background: #f9f9f9;
  padding: 3em 0 9em;
  width: 100%;
  text-align: center;
  position: relative;
}
.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}
.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #3c426f;
  font-weight: 900;
}
.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
  -webkit-animation: flash .7s forwards linear .16s;
  animation: flash .7s forwards linear .16s;
}
.pricing-palden .pricing-item:hover .golden{ -webkit-animation: flash 0.7s forwards linear 0.16s;
  -moz-animation: flash 0.7s forwards linear 0.16s;
  animation: flash 0.7s forwards linear 0.16s;}
.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}
.pricing-palden .pricing-item:hover .deco-layer--3 {
  -webkit-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}
.pricing-palden .icon {
  font-size: 2.5em;
}
.pricing-palden .pricing-price {
  font-size: 3em;
  font-weight: 800;
  padding: 0;
  color: #000;
  margin: 0 0 0.25em 0;
  line-height: 0.75;

}
.pricing-palden .pricing-currency {
  font-size: .38em;
  color: #636363;
  padding-right: .4rem;
  vertical-align: middle;
}
.pricing-palden .pricing-period {
  font-size: 0.2em;
  color: #474747;
  padding: 0 1em 0em 0em;
  font-style: normal;
  vertical-align: middle;
  opacity: .5;
}
.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}
.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: left;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.pricing-palden .pricing-feature {
  padding: .2em 0;
}

.btn-inn-calc{height: 36px; min-width: 120px;
    padding: 5px 30px 5px 30px; margin-top: 10px;cursor: pointer;}
.btn-inn-calc:hover{background: #000000; color: #fff; cursor: pointer; border: 1px #000 solid;}
.trans{opacity: .8;}
.trans2{opacity: .4;}
.trans:hover{opacity: 1; -webkit-transition: -webkit-all 0.3s;  transition: all 0.3s; }
.trans2:hover{opacity: 1; -webkit-transition: -webkit-all 0.3s;
  transition: all 0.3s; }

.pricing-palden .pricing-action:hover, .pricing-palden .pricing-action:focus {
  background-color: #000;
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8em 0;
}
.paldenleft{text-align: left; padding: 1em;}
.paldenleft ul li{list-style: square; margin-left:30px; }
.wow {fill:url(#MyGradient); }
.elite {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b2456+0,2e2950+100 */
  background-image: radial-gradient( circle at 50% 0,#3a416f,#21243d ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff !important;
}
.steps{margin: 0 auto;}
.elite .pricing-price{color: #fff;}
.elite-btn {
  font-size: 15px;
  margin: 1rem auto;
  padding: 5px 30px 5px 30px;
  height: 36px;
  z-index: 15;
  cursor: pointer;
  color: #FFF;
  font-weight: 600;

  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4220a0', endColorstr='#0082e5',GradientType=1 );
  border-radius: 30px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-end{margin-top: 20px;}
.lite {font-weight: 300 !important;}
.classic, .business, .elite-title{font-weight: 800 !important;}
.elite-title{color: #707592 !important;}
.businesse, .classice, .litee{font-weight: 800;}
.businesse{color: #058EEA}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
}

.card-input:hover {
  cursor: pointer;
}
.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #2ecc71;
}
.modulescount{  display: flex;  flex-direction: row;  align-items: center;}
.modulescount span{ font-size: 18px; font-weight: 800; margin: 0 10px; cursor: pointer;}
.modulescount span:first-child{ margin-right: 10px; margin-left: 0;}
.modulescount span:nth-child(2){ font-size: 24px; font-weight: 300; cursor: default;}
.fulltoggle{ margin-left: 6px; }
.planprice{display: flex; flex-direction: row; font-size: 24px; }
.fulltoggle.active svg{transform: rotate(0deg); transition: transform .3s ease-in-out; opacity: 1;}
.fulltoggle.inactive svg{transform: rotate(180deg); transition: transform .3s ease-in-out; opacity: .8;}
.toggle-arrow{width: 18px; height: 18px; cursor: pointer;}
.services-pricing-grid{display: flex; justify-content: space-between; flex-direction: row; flex-wrap: wrap; width: 100%; flex-grow: 1;}
.services-pricing-item{transition: all .3s;display: flex; border: 1px transparent solid;  flex-direction: column;  flex-wrap: wrap; background: transparent;   padding: 1em; margin: 3px;}
.services-pricing-item-s2{transition: all .3s;display: flex; cursor: pointer; flex-direction: column;   background: transparent;   padding: 1em; margin-left: 6px; margin-bottom: 6px;}
.pricing-item-descr{display: flex; flex-direction: column; flex-wrap: wrap;}
.pricing-item-controls{display: flex; flex-direction: column; flex-wrap: wrap; }
.pricing-discount-header{display: flex; font-weight: 600; font-size: 24px; flex-direction: row; justify-content: space-between;}
.discount{font-weight: 600; height: 14px; font-size: 12px; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9514+0,f45116+100 */
background: #ff9514; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ff9514 0%, #f45116 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ff9514 0%,#f45116 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ff9514 0%,#f45116 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9514', endColorstr='#f45116',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color: #fff; padding: 0.6em 1em; }
.pricing-item-header span{font-weight: 800; color: #5a595c; font-size: 14px;}
.pricing-item-header {font-weight: 800; font-size: 24px; padding-bottom: 1rem; color: #000;}
.pricing-item-price{font-weight: 600; font-size: 18px;}
.pricing-item-price span{font-weight: 300; font-size: 14px;}
.pricing-item-content{font-weight: 300; font-size: 18px; width: 270px;}
.oldprice{ font-size: 12px; text-decoration: line-through; color: #a2a2a2;}
.steptwo-container{display: flex;font-weight: 300; flex-direction: column;}
.stepthree-container{display: flex;font-weight: 300; flex-direction: column-reverse;}
.planname{display: flex; flex-direction: column; align-items: baseline;}
.subsc-radio{display: none}
.subsc-radio:checked + label {
    border-color: #fcae2c;
}
.subsclabel{display: flex; align-items: center;padding: 6px 12px;  border: #e1e3ef 1px solid; margin-left: 6px; flex-direction: column; }
 .plans > label:nth-child(2){margin-left: 0;}
.subsclabel span{ font-size: 24px; }

.planname span{font-size: 24px; color: #6f6a6f
}
.itemshort{display: flex; flex-direction: row; justify-content: space-between;}
.shady{-webkit-box-shadow: 0 2px 5px rgba(0,130,229,.05), 0 2px 5px rgba(66,32,160,.05);
  box-shadow: 0 2px 5px rgba(0,130,229,.05), 0 2px 5px rgba(66,32,160,.05);}
.leftone{ flex: 1 60%; flex-direction: column; margin-top: 3rem;}
.leftoneblock{background: #fff;   padding: 1em 2em; flex: 1 60%; flex-direction: column;  }
.rightone-s2{display: flex;}
.stepper{font-weight: 600; font-size: 18px;}
.bottom-step2{display: flex; flex-direction: row; justify-content: space-between; align-items: center;}
.step2-header,.s3-total-header, .s3-header{font-weight: 300; font-size: 18px; padding-bottom: 0.6rem;}
.collapsed .item-details{display: none;}
.planitem {margin: 1em 0 ;}
.s3-cart-bottom{margin-top: 50px;}
.cart{flex: 1 30%; background: #fff; padding: 2em; margin-left:6px;}
.s3-total-header{ margin-left: 6px;}
.cart .pricing-item-header, .cart .planname span, .cart .planprice{font-size: 14px; padding: 0;}
.inputs{display: flex; flex-direction:column;}
.inputs input, .s3-final input{    padding: 6px 8px 3px 8px;
    border: 1px solid #ccc;
    font-weight: 300;
    font-size: 18px;}
.s3-cart-item{ display: flex; flex-direction: column; padding: 1em 0;}
.s3-payment-items{ display: flex; flex-direction: column;}
.s3-payment-item{ background: #fff; margin-top: 1rem;display: flex; cursor: pointer; flex-direction: column; justify-content: space-between;  border: #fff 1px solid; padding: 1em;  flex: 1 20%; margin-left: 6px;}
.pricing-action:hover .services-pricing-item{background: #21243d; transition: all .3s;}
.activated{background: #fff;  border: #d4d0d2 1px solid;  -webkit-box-shadow: 0 2px 5px rgba(0,130,229,.1), 0 2px 5px rgba(66,32,160,.1);
  box-shadow: 0 2px 5px rgba(228, 215, 229,.05), 0 2px 5px rgba(66,32,160,.05);}
.s3-payment-item-name{font-weight: 600; font-size: 18px;}
.s3-inactive{cursor: default; opacity: .5}
.subheader{font-weight: 300; font-size: 18px;}
.plans{display: flex; flex-direction: row; margin: 10px 0 20px 0; }
.total, .newprice{font-size: 18px; font-weight: 600 !important;}
.s3-cart-item-header{font-weight: 600; display: flex; flex-direction: row; justify-content: space-between;}
.s3-final{display: flex; flex-direction: column; padding-top: 2em; justify-content: center; flex: 1 20%; width: 300px; margin: 0 auto;}
.s3-final input{margin-top: 1em;}
.deleteitem{width: 18px; height: 18px; margin-left: 6px; cursor: pointer;}
.deleteitem svg{width: 18px; height: 18px;}
.s3-final .btn-calc{ margin: 25px auto;}
.btn-calc{margin-top: 20px;}
.sc0:after{content: "10%"}
.sc1:after{content: "25%"}
.sc0:after, .sc1:after{  font-size: 11px !important;  font-weight: 600;  padding: 3px 6px;
   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9514+0,f45116+100 */
background: #ff9514; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ff9514 0%, #f45116 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ff9514 0%,#f45116 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ff9514 0%,#f45116 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9514', endColorstr='#f45116',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: #fff;
    border-radius: 16px;}
/* Fullpage */
@media only screen and (min-width: 1024px) {
  .steps{margin: 0;}
  .pricing-palden .pricing-deco {
  text-align: right;
}
  .modules{margin-left: 16px;}
  .rightone{flex: 1 40%; flex-direction: column; margin-top: 3em;}
  .s3-payment-item:first-child{ margin-left: 0;}
  .dside__what-content{padding: 0 3rem;}
  .pricing{flex-direction: row; }
  .pricing-popup{width: 100%}
  .steptwo-container{flex-direction: row;}
  .pricing-item-controls{margin: 0.5em;}
  .dside__business_process:nth-child(1){margin-left: 3rem;}
  .services-pricing-item{width: calc(25% - 6px); height: unset; padding: 1em; }
  .leftoneblock{padding: 2em 3em;  }
  .pricing-feature-list {  padding-left: 30px;  }
  .planname{flex-direction: row;}
  .leftone{margin: 0;}
  .pricing-palden .pricing-item{  width:70%; padding: 2em; flex-direction: row-reverse;}
  .cart .planname span{padding: 0 8px;}
  .s3-payment-items{flex-direction: row;}
  .rightone{margin-top: 0;}
  .services-pricing-item-s2{height: 180px;}
  .rightone-s2{display: flex;}
  .stepthree-container{flex-direction: row;}
}/* Fullpage */
@media only screen and (min-width: 1400px) {
  .dside__red-logo{padding: 0 1rem 0 5rem;}
  .dside__red-logo img{width: 60%;}
}
.prices{margin-top: 2em; }